/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #d3f5cf;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

h1, h2 {
    color: #333;
}

a {
    color: #337135;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    footer {
        padding: 10px;
    }
}

/* Adjust map container dimensions */
#map-container {
    height: 450px;
    width: 100%;
}

.pirmastaskasdiv {
    background-color: #5ccc67;
}

.mapimg  {
    float: left;
    width: auto;
    height: 120px;
    margin-right: 10px;
}

.maptxt {
    text-align: justify;
}

.pirmataskasp {
    padding: 7px;
}

.txtname {
    -webkit-text-fill-color: #000000;
    font-size: x-large;
    text-align: justify;
}

.title {
    font-size: x-large;
}

.info {
    text-align: justify;
}


.leaflet-container a {
    color: #337135;
}

.sarasas {
    white-space: pre-line;
}

.portretas {
    width: auto;
    height: 350px; 
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
}
    

figure {
    text-align: center;
    display: inline-block;
    margin: 30px;
  }

  img {
    width: auto;
    height: 350px;
  }

  figcaption {
    font-style: italic;
    color: #000000;
    text-align: center;
  }

  .imgg {
    display: inline-block;
    margin: 5px;
    display: flex;
    justify-content: center;
  }
  
    .imgg {
        margin: 5px;
        display: flex;
        justify-content: center;
      }
  
  .piesiniai {
    text-align: center;
    font-style: italic;
    color: #000000;
  }

  @media (max-width: 1100px){
    .img {
        max-width: 100%;
        height: auto;
    }

    .figure {
        text-align: center;
        display:table-column;
        margin: 30px;
      }
      .imgg {
        margin: 10px;
        justify-content: center;
      }
      .portretas {
        max-width: 100%;
        height: auto; 
        float: center;
        margin-bottom: 25px;
    }
    #map-container {
        height: 450px;
        width: 100%;
    }
  }